{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Actors List</h1>

<form method="get" action="{% url 'actors_agency:actor-list' %}" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
</form>
    {% if user.is_staff %}
<div class="mt-3">
    <a href="{% url 'actors_agency:actor-create' %}" class="btn btn-custom">Create Actor</a>
</div>
    {% endif %}
{% if actor_list %}
    <ul class="list-group mt-3">
        {% for actor in actor_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <a href="{% url 'actors_agency:actor-detail' pk=actor.pk %}">
                        {{ actor.username }}{% if actor.username == request.user.username %} (me){% endif %}
                    </a>
                </span>
                {% if user.is_staff or actor.id == request.user.id %}
                <div>
                    <a href="{% url 'actors_agency:actor-update' pk=actor.pk %}" class="btn btn-warning btn-sm mr-2">Edit</a>
                    <a href="{% url 'actors_agency:actor-delete' pk=actor.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No actors found.</p>
{% endif %}

<div class="mt-4">
    {% include "includes/pagination.html" %}
</div>
{% endblock %}
